body {
    background-color: #000;
    color: #f00;
}

.fire-top {
    transform: rotate(180deg);
    padding: 0;
    margin: 0;
}

a {
    accent-color: #f00;
    color: #f00;
    font-size: xx-large;
}