<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container">
    <a class="navbar-brand title-gradient-red" href="/">roarba</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link red-bold-text" href="/about/index.html">Sobre Mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link red-bold-text" href="/algorithms/index.html">La Biblioteca Discreta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link red-bold-text" href="/singularity/index.html">Singularidad Tecnológica</a>
        </li>

        <li class="nav-item">
          <a class="nav-link red-bold-text" href="/void/index.html">El Pozo del Vacío Infinito</a>
        </li>
      </ul>
    </div>
  </div>
</nav>